
<% if @result == 0 %>

  <h1>Whaaaaaat...?</h1>
  <div class="result">You are so creative! But that is not a Scrabble word... </div>
  <div class="link-container"><a href="/">I want to check another word</a></div>

<% else %>

  <h1><%= @word.capitalize %></h1>
  <h2>Go for it!</h2>
  <div class="result">Your superior intellectual instincts were right: <%= @word.capitalize%> is a real word in the Scrabbliverse!</div>
  <div class="result"> It will earn you <%= @result %> points.</div>
  <div class="link-container"><a href="/">I want to check another word</a></div>

<% end %>
