
<h1>Scrabble Word Check</h1>

<form action="/check" class="form">
  <div>

    <label for="word">
      enter a word to check
    </label>

    <input id="word_input" text="text" name="word" placeholder="E.g. supercalifragilisticexpialidocious" title="not a valid scrabble word :(" >
  
  </div>

  <button>
    Check word!
  </button>

  <div class="discord">Have Discord? Check out the 
    <a class="discord" href="https://discord.gg/cDDq2xx88r">WordCheckBot!</a>
  </div>
  
</form>
