<% title = "'Pneumonoultramicroscopicsilicovolcanoconiosis' is the longest word in the scrabble dictionary!"%>

<h1>Scrabble Dictionary Checker</h1>

<form action="/check" class="form">
  <div>
    <label for="word">
      enter word to check
    </label>

    <input id="word_input" text="text" name="word" placeholder="E.g. Pneumonoultramicroscopicsilicovolcanoconiosis" title = >
  </div>

  <button>
    Check word!
  </button>
</form>
