<% title = "'Pneumonoultramicroscopicsilicovolcanoconiosis' is the longest word in the scrabble dictionary!"%>

<h1>Scrabble Word Check</h1>

<form action="/check" class="form">
  <div>
    <label for="word">
      enter word to check
    </label>

    <input id="word_input" text="text" name="word" placeholder="E.g. supercalifragilisticexpialidocious" title="Sadly, not a scrabble word :(" >
  </div>

  <button>
    Check word!
  </button>
</form>
