<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble Word Check</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" >
  </head>

  <body>
    <div class="background"></div>
    
      <%= yield %>
   

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const inputField = document.getElementById('word_input');

        inputField.addEventListener('input', function() {
          const currentValue = inputField.value;

          const capitalizedValue = currentValue.toUpperCase();
          inputField.value = capitalizedValue;
        });

        inputField.addEventListener('hover', function() {

        })
      });
    </script>

  </body>
  
  
</html>
